[Unit]
Description=A language-agnostic FastCGI process manager
After=network.target

[Service] 
ExecStart=/usr/sbin/std-fpm
User=www-data
Group=www-data
RuntimeDirectory=std-fpm
StandardOutput=append:/var/log/std-fpm.log
StandardError=append:/var/log/std-fpm.log
 
[Install] 
WantedBy=multi-user.target
