#!/usr/bin/make -f

#export DH_VERBOSE = 1
export DEB_BUILD_OPTIONS = nostrip ## Already stripped by Cargo build system

%:
	cargo build --release
	dh $@

override_dh_auto_clean:
	cargo clean

override_dh_auto_install:
	mkdir -p debian/std-fpm/usr/sbin/
	mkdir -p debian/std-fpm/etc/
	mkdir -p /usr/lib/systemd/system/
	cp target/release/std-fpm debian/std-fpm/usr/sbin/
	cp conf/std-fpm.conf debian/std-fpm/etc/
	cp systemd/system/std-fpm.service /usr/lib/systemd/system/
